.btn--one
    background-color: $p1d1
    box-shadow: none
    font-size: 1.4rem
    font-weight: 500
    &:hover
        background-color: $p1l2
    &:focus
        background-color: $p1l2
.btn--two
    background-color: $p2d1
    box-shadow: none
    font-size: 1.4rem
    font-weight: 500
    &:hover
        background-color: $p2l2
    &:focus
        background-color: $p2l1
.btn--three
    border: 1px solid $p1d1
    background: transparent
    color: $p1d1
    text-transform: capitalize
    box-shadow: none
    font-size: 1.3rem
    font-weight: 500
    border-radius: 5px
    &:hover
        background-color: $p1l2
        border: 1px solid $p1l2
        color: $white
    &:focus
        background-color: $p1l1
.btn--four
    border: 1px solid $p2d1
    background: transparent
    color: $p2d1
    text-transform: capitalize
    box-shadow: none
    font-size: 1.3rem
    font-weight: 500
    border-radius: 5px
    &:hover
        background-color: $p2l2
        border: 1px solid $p2l2
        color: $white
    &:focus
        background-color: $p2l1
