.input-field
    margin: 0

/* label color */
.input-field label
    color: #000
    font-size: 1.3rem
    transform: translateY(8px)

/* label focus color */
.input-field input[type=text]:focus + label
    color: #000

.input-field label:not(.label-icon).active
    transform: none
    transform: translateY(8px)
    top: -26px

.input-field input[type=text],
textarea.materialize-textarea
    background-color: $bgColorInput
    height: 50px
    padding-left: 20px
    padding-right: 20px
    font-size: 1.3rem
    color: $p4
    box-sizing: border-box
    border: 1px solid $borderColorInput
    border-radius: 3px
    box-shadow: none
    margin: 0
    &:hover
        background-color: $white

/* label underline focus color */
.input-field input[type=text]:focus,
textarea.materialize-textarea:focus
    border: 1px solid $borderColorInput!important
    box-shadow: inset 0 0 5px rgba(15, 139, 204, 0.4)!important

/* valid color */
.input-field input[type=text].valid,
textarea.materialize-textarea.valid
    border: none
    border: 1px solid $borderColorInput!important
    box-shadow: none

.input-field input[type=text].valid:focus,
textarea.materialize-textarea.valid:focus
    border: none
    border: 1px solid $borderColorInput!important
    box-shadow: none!important

/* invalid color */
.input-field input[type=text].invalid
    border: none
    box-shadow: none

/* icon prefix focus color */
.input-field .prefix.active
    color: #000
