.p404
    position: relative
    padding-top: 190px
    padding-bottom: 65px
    @media #{$maxDesktop}
        padding-top: 65px
    &__cloud
        position: absolute
        &--c1
            top: 30%
            +sprite($s-cloud-41)
            right: 15%
            @media #{$maxDesktop}
                right: 0
        &--c2
            top: 10%
            +sprite($s-cloud-42)
            right: 40%
        &--c3
            top: 50%
            +sprite($s-cloud-43)
            left: 10%
            @media #{$maxDesktop}
                top: 70%
    &__boy
        position: absolute
        bottom: -10px
        left: 15%
        background-image: url(../img/boy.svg)
        background-repeat: no-repeat
        +sizes(388px, 326px)
        z-index: 2
        @media #{$maxDesktop}
            display: none
    .description
        position: relative
        text-align: center
        &__title
            color: $p2
            text-transform: uppercase
            font-size: 6rem
            font-weight: 700
            line-height: 1.2
        &__subtitle
            font-size: 2rem
            font-weight: 500
            color: $p4d3
        &__text
            font-size: 1.3rem
            color: $p4d3
            padding-bottom: 35px
        &__button
            width: 140px
            margin-right: 20px
            &:last-child
                margin-right: 0
            @media screen and (max-width:340px)
                display: block
                margin: 0 auto!important
                margin-bottom: 20px!important
                &:last-child
                    margin-bottom: 0!important
