.blog
    &__panel
        border-bottom: 2px solid $p4l3
        margin-bottom: 50px
        @media #{$maxMobile}
            display: none
    .view
        float: right
        font-size: 1.8rem
        padding-top: 10px
        &__item
            display: inline-block
            margin-right: 10px
            &:last-child
                margin-right: 0
        &__link
            color: $p4l1
            &:hover
                color: $p1
            &--active
                color: $p1

    .post
        padding-bottom: 50px
        &__socials
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            justify-content: space-between
            height: 78%
            @media #{$maxDesktop}
                display: none
        &__title
            margin-bottom: 20px
            @media #{$maxMobile}
                text-align: center
        &__info
            padding-bottom: 40px
            @media #{$maxMobile}
                text-align: center
        &__image
            padding-bottom: 30px
            width: 100%
        &__text
            padding-bottom: 20px
        &__button
            color: $p2
            text-transform: uppercase
            font-size: 1.4rem
            font-family: $f3
            &:hover
                color: $p1
            &::after
                content: "\f0da"
                font-family: $fontawesome
                margin-left: 10px


    .share
        &__item
            margin-bottom: 10px
        &__link
            display: block
            text-align: center
            width: 40px
            height: 40px
            border-radius: 50%
            font-size: 2rem
            padding-top: 7px
            color: $white
            background-color: $p1d1
            &:hover
                background-color: $p1
    .likes
        &__item
            margin-top: 10px
        &__link
            display: block
            text-align: center
            width: 40px
            height: 40px
            border-radius: 50%
            font-size: 1.2rem
            padding-top: 3px
            color: $p1d1
            border: 1px solid $p1d1
            &:hover
                background-color: $p1
                color: $white
            &--number
                display: block
                line-height: 1
