.faq
    &__title
        @media #{$maxMobile}
            text-align: center
    &__description
        .collapsible
            box-shadow: none
            border: none
            margin: 0
            li
                display: block
                margin-bottom: 10px
                &.active
                    border: 1px solid $p1
                    & .collapsible-header
                        background-color: $white
                        color: $p1
                        &::before
                            content: "\f056"
                            font-family: $fontawesome
                            margin-right: 10px
                            color: $p1


                    & .collapsible-body
                        padding-top: 5px!important
                        padding-left: 42px
                        padding-right: 42px
            &-header
                padding: 15px 20px
                background-color: $p1l3
                border: none
                font-size: 1.5rem
                color: $p4d1
                &::before
                    content: "\f055"
                    font-family: $fontawesome
                    margin-right: 10px
                    color: $p1
            &-body
                border: none
                font-size: 1.3rem
                color: $p4d1
                padding-left: 40px
