.footer
    background-color: $p1
    &-top
        border-bottom: 1px solid $white
        padding: 18px 0
        @media #{$maxDesktop}
            margin: 0 auto
            text-align: center
        .logo
            width: 100%
            vertical-align: middle
            &__image
                width: auto
                @media screen and (max-width:400px)
                    width: 100%
        .nav
            float: right
            font-size: 1.2rem
            font-weight: 500
            @media #{$maxMobile}
                display: none
            @media #{$maxDesktop}
                width: 100%
                float: none
            &__list
                height: 68px
                display: -webkit-flex
                display: -ms-flex
                display: flex
                color: $white
                align-items: center
                @media #{$maxDesktop}
                    justify-content: center
                    float: none
                    width: 100%
            &__item
                margin-right: 20px
                text-transform: uppercase
                &:last-child
                    margin-right: 0
            &__link
                color: $white
                &:hover
                    text-decoration: underline
    &-mid
        padding: 50px 0
        @media #{$maxDesktop}
            display: none
        .section
            @media #{$maxDesktop}
                // text-align: center
                margin-bottom: 30px
            @media #{$maxMobile}
                text-align: center
            &__title
                font-size: 1.6rem
                font-weight: 500
                color: $white
                padding-bottom: 30px
            &__list
                display: -webkit-flex
                display: -ms-flex
                display: flex
                flex-direction: column
            &__item
                font-size: 1.3rem
                line-height: 2
            &__link
                color: $white
                &:hover
                    text-decoration: underline
    &-bot
        padding: 18px 0
        color: $white
        border-top: 1px solid $white
        @media #{$maxDesktop}
            border-top: 0
            text-align: center
        .copyright
            line-height: 1.6
            font-weight: 500
            font-family: $f3
            font-size: 1.3rem
            @media #{$maxDesktop}
                margin-bottom: 10px
        .social
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            height: 41.6px
            @media #{$maxDesktop}
                justify-content: center
                margin-bottom: 0
            &__item
                margin-right: 15px
                line-height: 1.5
                &:last-child
                    margin-right: 0
            &__link
                color: $white
                font-size: 1.7rem
                +sizes(35px, 35px)
                display: block
                padding-top: 5px
                text-align: center
                border: 1px solid $white
                border-radius: 50%
                &:hover
                    background-color: $p1d1
        .toll
            height: 41.6px
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            line-height: 1.3
            @media #{$maxDesktop}
                display: none
            &__image
                background-image: url(../img/toll.svg)
                background-size: 100%
                width: 31px
                height: 31px
                display: inline-block
                margin-right: 20px
                align-self: center
                fill: $white
            &__info
                display: inline-block
                font-size: 1.3rem
                font-weight: 500
            &__link
                display: block
                font-size: 1.6rem
                font-weight: 700
                color: $white
                &:hover
                    text-decoration: underline
        .email
            height: 41.6px
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            line-height: 1.3
            @media #{$maxDesktop}
                display: none
            &__image
                background-image: url(../img/email.svg)
                background-size: 100%
                width: 31px
                height: 31px
                display: inline-block
                margin-right: 20px
                align-self: center
                fill: $white
            &__info
                display: inline-block
                font-size: 1.3rem
                font-weight: 500
            &__link
                display: block
                font-size: 1.3rem
                font-weight: 700
                color: $white
                &:hover
                    text-decoration: underline
