.header
    position: relative
    // header top
    &-top
        background-color: $p1
        padding: 18px 0
        font-size: 1.2rem
        // logo
        .logo
            width: 100%
            vertical-align: middle
            @media #{$maxMobile}
                display: -webkit-flex
                display: -ms-flex
                display: flex
                align-items: center
                height: 68px
            &__image
                width: auto
                @media screen and (max-width:400px)
                    width: 100%
        // navigation
        .nav
            float: right
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: center
            align-items: center
            height: 68px
            @media #{$maxMobile}
                height: 68px
            .dropdown-menu
                display: none
                position: absolute
                color: $white
                text-transform: uppercase
                padding-top: 17px
                +transition(.3s)
                li
                    padding-right: 20px
                    display: inline-block
                    &:last-child
                        margin-right: 0
                    a:hover
                        text-decoration: underline

            &__second
                display: inline-block
                font-family: $f3
                vertical-align: middle
                @media #{$maxDesktop}
                    display: none
            &__item
                display: inline-block
                text-transform: uppercase
                margin-right: 15px
            &__link
                color: $white
                position: relative
                &--services, &--about
                    &::after
                        content: "\f0d7"
                        font-family: $fontawesome
                        margin-left: 5px
                    &.active
                        display: block
                        &::after
                            content: "\f0d8"
                            font-family: $fontawesome
                            margin-left: 5px
                &--hiw
            &__phone
                color: $white
                margin-right: 15px
                border-radius: 50%
                border: 1px solid $white
                +sizes(30px, 30px)
                display: inline-block
                text-align: center
                vertical-align: middle
                padding-top: 5px
                font-size: 1.5rem
                @media screen and (max-width:675px)
                    display: none
                &:hover
                    background-color: $p1d1
            &__button
                margin-right: 15px
                width: 100px
                vertical-align: middle
                font-weight: 600
                font-size: 1.2rem
                @media screen and (max-width:620px)
                    display: none
                @media #{$maxMobile}
                    display: none
                &--sign
                &--order
            // burger
            &__burger
                display: inline-block
                vertical-align: middle
                cursor: pointer
                @media screen and (max-width:620px)
                    display: block
                &.active
                    & .nav__line--top
                        transform: rotate(45deg)
                        margin-bottom: -10px
                    & .nav__line--mid
                        opacity: 0
                    & .nav__line--bot
                        transform: rotate(-45deg)
            &__line
                +sizes(20px, 3px)
                display: block
                background-color: $white
                margin-bottom: 4px
                +transition(.3s)
        .side-nav
            text-align: center
            text-transform: uppercase
            &__item
            &__link
                &:hover
                    background-color: $p1l3
            &__button
                width: 100px



    // header-mid
    &-mid
        position: relative
        background-color: $p1l3
        padding-top: 150px
        padding-bottom: 150px
        overflow: hidden
        &::before
            content: ""
            background-image: url(../img/town.svg)
            background-size: 70% auto
            background-repeat: repeat-x
            background-position: left bottom
            width: 100%
            height: 100%
            top: 0
            left: 0
            position: absolute
            opacity: .6
        @media #{$maxDesktop}
            padding-top: 50px
        @media #{$maxMobile}
            &::before
                background-size: 70% auto
            padding-bottom: 50px
        @media screen and (max-width: 865px)
            padding-bottom: 300px


        &__cloud
            position: absolute
            &--h1
                +sprite($s-cloud-h1)
                top: 5%
                right: -300px
                animation-name: cloudLeft
                animation-duration: 50s
                animation-iteration-count: infinite
                animation-timing-function: linear
            &--h2
                +sprite($s-cloud-h2)
                top: 55%
                left: -300px
                animation-name: cloudRight
                animation-duration: 60s
                animation-iteration-count: infinite
                animation-timing-function: linear
            &--h3
                +sprite($s-cloud-h3)
                top: 70%
                left: -300px
                animation-name: cloudRight
                animation-duration: 50s
                animation-iteration-count: infinite
                animation-timing-function: linear
                animation-delay: 2s
            &--d1
                +sprite($s-cloud-d1)
                top: 65%
                left: -300px
                animation-name: cloudRight
                animation-duration: 85s
                animation-iteration-count: infinite
                animation-timing-function: linear
                animation-delay: 4s
            &--d2
                +sprite($s-cloud-d2)
                top: 50%
                right: -300px
                animation-name: cloudLeft
                animation-duration: 60s
                animation-iteration-count: infinite
                animation-timing-function: linear
            &--d3
                +sprite($s-cloud-d3)
                top: 60%
                left: -300px
                animation-name: cloudRight
                animation-duration: 30s
                animation-iteration-count: infinite
                animation-timing-function: linear
            &--d4
                +sprite($s-cloud-d4)
                top: 35%
                right: -300px
                animation-name: cloudLeft
                animation-duration: 70s
                animation-iteration-count: infinite
                animation-timing-function: linear
                animation-delay: 2s
        .description
            @media #{$maxDesktop}
                text-align: center
            &__title
                padding-bottom: 30px
                font-size: 4.7rem
                font-weight: 700
                line-height: 1.3
                color: $p4d2
                position: relative
                &--color
                    color: $p1
                @media #{$maxMobile}
                    font-size: 3rem
            &__text
                position: relative
                border-top: 1px solid $header-line
                padding-top: 30px
                font-size: 2rem
                color: $p4
                width: 80%
                padding-bottom: 30px
                &::after
                    content: ""
                    position: absolute
                    top: -3px
                    left: 0
                    z-index: 2
                    +sizes(50px, 3px)
                    background-color: $p2
                @media #{$maxDesktop}
                    width: 80%
                    margin: 0 auto
            &__button
                width: 220px
                font-size: 1.4rem
                position: relative
                font-weight: 600
        .girl
            background-image: url(../img/girl.svg)
            background-repeat: no-repeat
            +sizes(325px, 465px)
            position: absolute
            bottom: 55px
            z-index: 1
            @media #{$maxDesktop}
                display: none

    // header-bot
    &-bot
        position: absolute
        width: 100%
        bottom: -50px
        @media screen and (max-width: 865px)
            bottom: -150px
        @media #{$maxMobile}
            display: none
        .header-panel
            padding: 40px 30px 30px 30px
            background-color: $p1
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: space-between
            @media screen and (max-width: 865px)
                flex-direction: column
                margin: 0 auto
                width: 80%
            &__input
                width: 18%
                height: 50px
                display: inline-block
                @media screen and (max-width: 865px)
                    margin-bottom: 25px
                input[type=text]:focus + label
                    color: $white
                @media screen and (max-width: 865px)
                    display: block
                    width: 100%
            &__label
                color: $white
            &__button
                vertical-align: bottom
                text-transform: capitalize
                font-size: 1.4rem
                font-weight: 500
                padding-top: 7px
                width: 18%
                height: 50px
                border-radius: 3px
                @media screen and (max-width: 865px)
                    width: 50%
                    margin: 0 auto
    &-footer
        position: relative
        background-color: $p1l3
        padding-top: 80px
        padding-bottom: 80px
        overflow: hidden
        &::before
            content: ""
            background-image: url(../img/town.svg)
            background-size: 40% auto
            background-repeat: repeat-x
            background-position: left bottom
            width: 100%
            height: 100%
            top: 0
            left: 0
            position: absolute
            opacity: .6
        @media #{$maxDesktop}
            padding-top: 40px
            padding-bottom: 40px
        @media #{$maxMobile}
            &::before
                background-size: 70% auto
        &__cloud
            position: absolute
            +sprite($s-cloud-h3)
            top: 3%
            left: -300px
            animation-name: cloudRight
            animation-duration: 50s
            animation-iteration-count: infinite
            animation-timing-function: linear
        .page-title
            font-size: 3.5rem
            color: $p4d3
            font-weight: 700
            padding-bottom: 20px
            position: relative
        .breadcrumbs
            position: relative
            display: -webkit-flex
            display: -ms-flex
            display: flex
            font-size: 1.2rem
            text-transform: uppercase
            align-items: center
            &__item
                margin-right: 10px
                &::after
                    content: "\f105"
                    font-family: $fontawesome
                    margin-left: 10px
                    color: $p4
                &:last-child::after
                    display: none

            &__link
                color: $p4
                &--active
                    color: $p4d3
                    font-weight: 500
                &:hover
                    text-decoration: underline
