.how-works
    &__title
        @media #{$maxMobile}
            text-align: center
    .steps
        padding-right: 50px
        padding-left: 50px
        padding-top: 80px
        @media #{$maxDesktop}
            padding-right: 0
            padding-left: 0
        @media screen and (max-width:450px)
            padding-top: 50px
    .m_40
        margin-bottom: 40px
        @media #{$maxMobile}
            margin-bottom: 0
    .order3
        order: 4
    .order4
        order: 3
    @media #{$maxMobile}
        .order3
            order: 3
        .order4
            order: 4
    .step
        text-align: center
        padding: 45px
        height: 100%
        border: 1px solid $borderHow
        position: relative
        box-shadow: 0 0 10px rgba(000,000,000, .1)
        @media #{$maxMobile}
            height: auto
            margin: 0
            margin-bottom: 40px
        @media screen and (max-width:450px)
            padding: 25px
        &:hover
            border: 1px solid $p1
            &::after
                border-top: 1px solid $p1
                border-right: 1px solid $p1
        &::after
            content: ""
            position: absolute
            bottom: 45%
            background-color: $white
            +sizes(25px, 25px)
            transform: rotate(45deg)
            border-top: 1px solid $borderHow
            border-right: 1px solid $borderHow
            box-shadow: 0 0 rgba(000,000,000, .1)
        &--first
            margin-right: 20px
            border: 1px solid $p1
            &::after
                right: -14px
                border-top: 1px solid $p1
                border-right: 1px solid $p1
            @media #{$maxMobile}
                &::after
                    bottom: -14px
                    right: 48%
                    transform: rotate(135deg)
        &--second
            margin-left: 20px
            &::after
                left: 50%
                bottom: -14px
                transform: rotate(135deg)
            @media #{$maxMobile}
                &::after
                    left: 48%
        &--third
            margin-left: 20px
            &::after
                left: -14px
                transform: rotate(-135deg)
            @media #{$maxMobile}
                &::after
                    bottom: -14px
                    left: 48%
                    transform: rotate(135deg)
        &--last
            margin-right: 20px
            &::after
                display: none
        &__title
            text-transform: uppercase
            padding-top: 35px
            padding-bottom: 20px
        &__description
            font-size: 1.3rem
