.sidebar
    @media #{$maxDesktop}
        display: none
    .sidebar--title
        color: $p1
        font-weight: 600
        text-transform: uppercase
        padding-bottom: 30px
    .search
        margin-bottom: 50px
        &::after
            content: "\f002"
            font-family: $fontawesome
            position: absolute
            right: 20px
            top: 30%
            font-size: 1.3rem
            color: $p4l1
            pointer-events: none
    .categories
        padding-bottom: 50px
        .collapsible
            border-bottom: 0
            border-left: 0
            border-right: 0
        &__item
            &.active
                & .collapsible-header
                    &::before
                        content: "\f0d7"
                        font-family: $fontawesome
                        margin-right: 7px
                        color: $p1
        &__list
            font-size: 1.3rem
            text-transform: uppercase
            border-top: 1px solid $p1
            &:last-child
                border-bottom: none
            & .collapsible-header
                background-color: $p1l3
                padding: 15px 10px
                border-bottom: 1px solid $p1l2
                cursor: pointer
                &:hover
                    background-color: $p1l2
                &::before
                    content: "\f0da"
                    font-family: $fontawesome
                    margin-right: 10px
                    color: $p1
        &__drop
            li
                margin-bottom: 5px
                &:last-child
                    margin-bottom: 0
                &::before
                    content: "\f0da"
                    font-family: $fontawesome
                    margin-right: 7px
                    color: $p1
            a
                color: $p4d1
                text-decoration: underline

    .archive
        padding-bottom: 50px
        &__list
            border-top: 1px solid $p1
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2)

        li
            background-color: $p1l3
            border-bottom: 1px solid $p1l2
            &:last-child
                border-bottom: none
            a
                font-size: 1.3rem
                color: $p4d2
                width: 100%
                padding: 15px 20px
                display: block
                &:hover
                    background-color: $p1l2
    .post__info
        padding-bottom: 0!important
    .posts
        padding-bottom: 30px
        &__item
            margin-bottom: 30px
            padding-bottom: 25px
            border-bottom: 1px solid $p1
            &:last-child
                margin-bottom: 0
                border-bottom: none
        &__image
            width: 100%
            display: block
            padding-bottom: 20px
        &__name
            font-size: 1.7rem
            font-weight: 500
            padding-bottom: 10px
            &--link
                color: $p4d3
                &:hover
                    color: $p1
    .accept
        padding-bottom: 30px
        &__title
            border-bottom: 1px solid $p1
        &__list
            padding-top: 30px
            display: -webkit-flex
            display: -ms-flex
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            @media screen and (max-width:1129px)
                flex-direction: column
                justify-content: center
                align-items: center
        &__item
            margin-bottom: 15px
        &__icon
            filter: grayscale(100%)
            +transition(.3s)
            transform: scale(.9)
            &:hover
                transform: scale(1.05)
                filter: grayscale(0)
            &--paypal
                +sprite($s-paypal)
            &--mastercard
                +sprite($s-mastercard)
            &--ucb
                +sprite($s-jcb)
            &--visa
                +sprite($s-visa)
            &--2cc
                +sprite($s-2co)
            &--discover
                +sprite($s-discover)
            &--diners
                +sprite($s-diners)
            &--express
                +sprite($s-amex)
            &--skrill
                +sprite($s-skrill)
    .limited
        background-color: $p1
        padding: 30px 20px 140px 20px
        text-align: center
        position: relative
        margin-bottom: 50px
        &::before
            content: ""
            z-index: 1
            background-image: url(../img/rocket2.svg)
            background-repeat: no-repeat
            position: absolute
            bottom: 0
            left: 0
            +sizes(256px, 215px)
        &__inside
            border: 2px dashed $white
            padding: 30px 0
            border-radius: 8px
            position: relative
            background-color: $p1d1
            &::before
                content: ""
                position: absolute
                top: -15px
                z-index: 1
                left: 0
                background-image: url(../img/scissors.svg)
                background-repeat: no-repeat
                +sizes(38px, 29px)
        &__time
            font-size: 1.7rem
            font-weight: 700
            color: $white
        &__off
            color: $discountColor
            font-size: 4rem
            font-weight: 700
            text-transform: uppercase
        &__order
            text-transform: uppercase
            color: $white
            font-size: 1.7rem
    &--button
        width: 100%
        text-transform: none
    .adv
        padding-bottom: 50px
        &__title
            border-bottom: 1px solid $p1
        &__list
            padding-top: 30px
            padding-bottom: 30px
    .features
        padding-bottom: 50px
        &__title
            border-bottom: 1px solid $p1
        &__list
            padding-top: 30px
            padding-bottom: 30px
    .disc
        &__title
            border-bottom: 1px solid $p1
            margin-bottom: 30px
        &__item
            display: -webkit-flex
            display: -ms-flex
            display: flex
            width: 100%
            padding-bottom: 20px
            &:last-child
                padding-bottom: 0
            // align-items: center
        &__image
            text-align: center
            text-transform: uppercase
            font-size: 2.2rem
            font-weight: 700
            line-height: 1
            padding-top: 17px
            margin-right: 20px
            width: 40%
            &--orange
                +sprite($s-shape-orange)
                color: $white
            &--blue
                +sprite($s-shape-blue)
                color: $discountColor
        &__info
            font-size: 1.3rem
            font-weight: 500
            color: $p4l1
            line-height: 1.2
            border-bottom: 1px solid $p4l3
            padding-top: 15px
            width: 60%
            &--order
                font-size: 2.2rem
                font-weight: 600
                color: $p4d3
                text-transform: uppercase
