.single
    .text
        &__image
            width: 100%
            padding-bottom: 30px
        &__panel
            padding-top: 35px
            padding-bottom: 35px
            border-bottom: 2px solid $p1
    .post__info
        @media #{$maxMobile}
            text-align: center
            padding-bottom: 20px
    &__social
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: flex-end
        color: $p4l1
        font-size: 1.3rem
        @media #{$maxMobile}
            justify-content: center
    &__item
        margin-left: 20px
        &:first-child
            margin-left: 0
    &__link
        color: $p4l1
        &:hover
            color: $p1
    .comment
        padding-top: 60px
        &__button
            width: 220px
            display: inline-block
            @media #{$maxMobile}
                text-align: center
                margin: 0 auto
                display: block
        &__title
            padding-bottom: 35px
            @media #{$maxMobile}
                text-align: center
        .input-field
            @media #{$maxMobile}
                margin-bottom: 40px
        &__textarea
            margin-top: 40px
            margin-bottom: 20px
            @media #{$maxMobile}
                margin-top: 0
            textarea
                min-height: 135px
                padding-top: 20px
                padding-bottom: 20px
    &__likes
        display: inline-flex
        margin-left: 30px
        @media #{$maxMobile}
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: center
            padding-top: 20px
            margin-left: 0
        li
            display: inline-block
            margin-right: 10px
            &:last-child
                margin-right: 0
    &__like, &__view
        a:hover
            color: $p1
            text-decoration: none
