.text
    @media #{$maxMobile}
        .list--checked
            padding-bottom: 35px
    &__columns
        column-count: 2
        @media #{$maxMobile}
            column-count: 1
    @media #{$maxMobile}
        h1,h2,h3,h4,h5,h6
            text-align: center
