<main class="p404">
    <div class="p404__cloud p404__cloud--c1"></div>
    <div class="p404__cloud p404__cloud--c2"></div>
    <div class="p404__cloud p404__cloud--c3"></div>
    <div class="container">
        <div class="row">
            <div class="col l5 offset-l1">
                <div class="p404__boy"></div>
            </div>
            <div class="col l6 s12">
                <div class="description">
                    <div class="description__title">404 page</div>
                    <div class="description__subtitle">Oops. The page you were looking for doesn’t exist</div>
                    <div class="description__text">You may have mistyped the address or the page may have moved</div>
                    <a href="#" class="btn description__button btn--three">Home</a>
                    <a href="#" class="btn description__button btn--four">Back</a>
                </div>
            </div>
        </div>
    </div>
</main>
