<main class="blog section-content">
    <div class="container">
        <div class="row">
            <div class="col l9 s12">
                <div class="blog__panel">
                    <div class="row">
                        <div class="col l8 s9">
                            <ul class="tabs">
                                <li class="tab"><a href="#blog-content1" class="active">Blog content 1</a></li>
                                <li class="tab"><a href="#blog-content2">Blog content 2</a></li>
                                <li class="tab"><a href="#test3">Blog content 3</a></li>
                                <li class="tab"><a href="#test4">Blog content 4</a></li>
                            </ul>
                        </div>
                        <div class="col l4 s3">
                            <ul class="view">
                                <li class="view__item"><a href="" class="view__link view__link--active"><i class="fa fa-list"></i></a></li>
                                <li class="view__item"><a href="" class="view__link"><i class="fa fa-th-large"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="blog-content1">
                    <div class="post">
                        <div class="row d-flex">
                            <div class="col l2">
                                <div class="post__socials">
                                    <ul class="share">
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-facebook"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-twitter"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <ul class="likes">
                                        <li class="likes__item"><a href="#" class="likes__link">
                                            <i class="fa fa-heart"></i>
                                            <span class="likes__link--number">21</span>
                                        </a></li>
                                        <li class="likes__item"><a href="#" class="likes__link">
                                            <i class="fa fa-eye"></i>
                                            <span class="likes__link--number">21</span>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col l10">
                                <div class="post__content">
                                    <div class="row">
                                        <div class="col s12">
                                            <a href="#">
                                                <h2 class="post__title">Do you need essay help?</h2>
                                            </a>
                                        </div>

                                        <div class="col s12">
                                            <div class="post__info">
                                                <a href="#" class="post__info--month">February</a> <a href="#" class="post__info--day">3</a>, <a href="#" class="post__info--year">2015</a> in <a href="#" class="post__info--tag">Personal life</a>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <a href="#"><img class="post__image" src="img/blog/big1.png" alt=""></a>
                                        </div>
                                        <div class="col s12">
                                            <div class="post__text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <a href="#" class="post__button">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="row d-flex">
                            <div class="col l2">
                                <div class="post__socials">
                                    <ul class="share">
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-facebook"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-twitter"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <ul class="likes">
                                        <li class="likes__item"><a href="#" class="likes__link">
                                            <i class="fa fa-heart"></i>
                                            <span class="likes__link--number">21</span>
                                        </a></li>
                                        <li class="likes__item"><a href="#" class="likes__link">
                                            <i class="fa fa-eye"></i>
                                            <span class="likes__link--number">21</span>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col l10">
                                <div class="post__content">
                                    <div class="row">
                                        <div class="col s12">
                                            <a href="#">
                                                <h2 class="post__title">Do you need essay help?</h2>
                                            </a>
                                        </div>

                                        <div class="col s12">
                                            <div class="post__info">
                                                <a href="#" class="post__info--month">February</a> <a href="#" class="post__info--day">3</a>, <a href="#" class="post__info--year">2015</a> in <a href="#" class="post__info--tag">Personal life</a>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <a href="#"><img class="post__image" src="img/blog/big2.png" alt=""></a>
                                        </div>
                                        <div class="col s12">
                                            <div class="post__text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <a href="#" class="post__button">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="row d-flex">
                            <div class="col l2">
                                <div class="post__socials">
                                    <ul class="share">
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-facebook"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-twitter"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <ul class="likes">
                                        <li class="likes__item"><a href="#" class="likes__link">
                                            <i class="fa fa-heart"></i>
                                            <span class="likes__link--number">21</span>
                                        </a></li>
                                        <li class="likes__item"><a href="#" class="likes__link">
                                            <i class="fa fa-eye"></i>
                                            <span class="likes__link--number">21</span>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col l10">
                                <div class="post__content">
                                    <div class="row">
                                        <div class="col s12">
                                            <a href="#">
                                                <h2 class="post__title">Do you need essay help?</h2>
                                            </a>
                                        </div>

                                        <div class="col s12">
                                            <div class="post__info">
                                                <a href="#" class="post__info--month">February</a> <a href="#" class="post__info--day">3</a>, <a href="#" class="post__info--year">2015</a> in <a href="#" class="post__info--tag">Personal life</a>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <a href="#"><img class="post__image" src="img/blog/big3.png" alt=""></a>
                                        </div>
                                        <div class="col s12">
                                            <div class="post__text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <a href="#" class="post__button">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="blog-content2">
                    <div class="post">
                        <div class="row d-flex">
                            <div class="col l2">
                                <div class="post__socials">
                                    <ul class="share">
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-facebook"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-twitter"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <ul class="likes">
                                        <li class="likes__item"><a href="#" class="likes__link">
                                            <i class="fa fa-heart"></i>
                                            <span class="likes__link--number">21</span>
                                        </a></li>
                                        <li class="likes__item"><a href="#" class="likes__link">
                                            <i class="fa fa-eye"></i>
                                            <span class="likes__link--number">21</span>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col l10">
                                <div class="post__content">
                                    <div class="row">
                                        <div class="col s12">
                                            <a href="#">
                                                <h2 class="post__title">Do you need essay help?</h2>
                                            </a>
                                        </div>

                                        <div class="col s12">
                                            <div class="post__info">
                                                <a href="#" class="post__info--month">February</a> <a href="#" class="post__info--day">3</a>, <a href="#" class="post__info--year">2015</a> in <a href="#" class="post__info--tag">Personal life</a>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <a href="#"><img class="post__image" src="img/blog/big3.png" alt=""></a>
                                        </div>
                                        <div class="col s12">
                                            <div class="post__text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <a href="#" class="post__button">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="row d-flex">
                            <div class="col l2">
                                <div class="post__socials">
                                    <ul class="share">
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-facebook"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-twitter"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li class="share__item"><a href="#" class="share__link"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <ul class="likes">
                                        <li class="likes__item"><a href="#" class="likes__link">
                                            <i class="fa fa-heart"></i>
                                            <span class="likes__link--number">21</span>
                                        </a></li>
                                        <li class="likes__item"><a href="#" class="likes__link">
                                            <i class="fa fa-eye"></i>
                                            <span class="likes__link--number">21</span>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col l10">
                                <div class="post__content">
                                    <div class="row">
                                        <div class="col s12">
                                            <a href="#">
                                                <h2 class="post__title">Do you need essay help?</h2>
                                            </a>
                                        </div>

                                        <div class="col s12">
                                            <div class="post__info">
                                                <a href="#" class="post__info--month">February</a> <a href="#" class="post__info--day">3</a>, <a href="#" class="post__info--year">2015</a> in <a href="#" class="post__info--tag">Personal life</a>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <a href="#"><img class="post__image" src="img/blog/big1.png" alt=""></a>
                                        </div>
                                        <div class="col s12">
                                            <div class="post__text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <a href="#" class="post__button">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pagination col l10 offset-l2 s12">
                    <li class="disabled"><a href="#!"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!">6</a></li>
                    <li class="waves-effect"><a href="#!">7</a></li>
                    <li class="waves-effect"><a href="#!">8</a></li>
                    <li class="waves-effect"><a href="#!">9</a></li>
                    <li class="waves-effect"><a href="#!"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
            <div class="col l3">
                //= sections/sidebar.html
            </div>
        </div>
    </div>
</main>
