<main class="faq section-content">
    <div class="container">
        <div class="row">
            <div class="col l9">
                <div class="row">
                    <div class="col 12">
                        <h2 class="faq__title section-title">Frequently Asked Questions</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col 12">
                        <div class="faq__subtitle section-title subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="faq__description">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header active">What is a custom writing service?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">Are your writers qualified for the custom writing?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">How quick can my order be accomplished?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">Is it legal to buy custom essays, term papers or book reports from your company?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">Are essays offered by your company truly custom-written?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">Is it safe to buy papers from SupremeEssays.com?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">How secure is the payment system of your company?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">In what format do you provide your custom essays?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">What charge will appear on my credit card statement?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">What types of essays/book reports and research papers do you offer?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">What are your guarantees regarding plagiarism?</div>
                                    <div class="collapsible-body">
                                        <span>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3">
                //= sections/sidebar.html
            </div>
        </div>
    </div>
</main>
