<main class="how-works section-content">
    <div class="container">
        <div class="row">
            <div class="col l9">
                <div class="row">
                    <div class="col 12">
                        <h2 class="how-works__title section-title">Our simple 4-step Procedure</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="how-works__description">
                            <p>In the field of academic research and essay writing, BlueEssaySite ervice is recognized as one of the best. We offer high-quality essay papers, term papers, custom research papers, theses, dissertations and help with all types
                                of assignments. Our promise of a top-notch essay writing service is one we keep.</p>
                            <p>The reason BlueEssaySite provides the best college essay writing service is that we only employ the most experienced and professional writers - those who understand the importance of providing high-quality essay writing help
                                at a reasonable price.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="steps">
                    <div class="row d-flex">
                        <div class="col m6 s12 order1 m_40">
                            <div class="step step--first">
                                <i class="step__image step__image--step1"></i>
                                <h5 class="step__title">Step 1</h5>
                                <div class="step__description">
                                    Complete the short order form to buy a paper from our easy essay writing service.
                                </div>
                            </div>
                        </div>
                        <div class="col m6 s12 order2 m_40">
                            <div class="step step--second">
                                <i class="step__image step__image--step2"></i>
                                <h5 class="step__title">Step 2</h5>
                                <div class="step__description">
                                    We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.
                                </div>
                            </div>
                        </div>
                        <div class="col m6 s12 order3">
                            <div class="step step--third">
                                <i class="step__image step__image--step3"></i>
                                <h5 class="step__title">Step 3</h5>
                                <div class="step__description">
                                    Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard
                                </div>
                            </div>
                        </div>
                        <div class="col m6 s12 order4">
                            <div class="step step--last">
                                <i class="step__image step__image--step4"></i>
                                <h5 class="step__title">Step 4</h5>
                                <div class="step__description">
                                    The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3">
//= sections/sidebar.html
            </div>
        </div>
    </div>
</main>
