<main class="single section-content">
    <div class="container">
        <div class="row">
            <div class="col l9">
                <div class="text">
                    <div class="row">
                        <div class="col s12">
                            <img class="text__image" src="img/blog/big1.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h2 class="text__title section-title">Do you need essay help?</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="faq__subtitle section-pad subtitle">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col 12">
                            <div class="faq__paragrapgh section-pad">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
                                    omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                                <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                    quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row section-pad">
                        <div class="col l6 m6 s12">
                            <ul class="list--checked">
                                <li>But I must explain to you how </li>
                                <li>Mistaken idea of denouncing pleasure </li>
                                <li>Praising pain was born</li>
                                <li>Account of the system, and expound</li>
                                <li>Great explorer of the truth</li>
                                <li>No one rejects, dislikes</li>
                            </ul>
                        </div>
                        <div class="col l6 m6 s12">
                            <ul class="list--checked2">
                                <li>But I must explain to you how </li>
                                <li>Mistaken idea of denouncing pleasure </li>
                                <li>Praising pain was born</li>
                                <li>Account of the system, and expound</li>
                                <li>Great explorer of the truth</li>
                                <li>No one rejects, dislikes</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h3 class="section-title">Do you need essay help?</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col 12">
                            <div class="faq__paragrapgh section-pad">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
                                    omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                                <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                    quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row section-pad">
                        <div class="col s12">
                            <div class="quotation">
                                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4 class="section-title">Do you need essay help?</h4>
                        </div>
                    </div>
                    <div class="row section-pad">
                        <div class="col s12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h5 class="section-title">Do you need essay help?</h5>
                        </div>
                    </div>
                    <div class="row section-pad">
                        <div class="col s12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h6 class="section-title">Do you need essay help?</h6>
                        </div>
                    </div>
                    <div class="row seection-pad">
                        <div class="col s12">
                            <div class="text__columns">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text__panel">
                        <div class="row">
                            <div class="col l8 m8 s12">
                                <div class="post__info">
                                    <a href="#" class="posts__info--month">February</a> <a href="#" class="posts__info--day">3</a>, <a href="#" class="posts__info--year">2015</a> in <a href="#" class="posts__info--tag">Personal life</a>
                                    <ul class="single__likes">
                                        <li class="single__like"><a href="#">
                                            <i class="fa fa-heart"></i>
                                            <span>2</span></a>
                                        </li>
                                        <li class="single__view"><a href="#"><i class="fa fa-eye"></i>
                                        <span>3</span></a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col l4 m4 s12">
                                <ul class="single__social">
                                    <li class="single__item"><a href="#" class="single__link"><i class="fa fa-facebook"></i></a></li>
                                    <li class="single__item"><a href="#" class="single__link"><i class="fa fa-twitter"></i></a></li>
                                    <li class="single__item"><a href="#" class="single__link"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li class="single__item"><a href="#" class="single__link"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="single__item"><a href="#" class="single__link"><i class="fa fa-share-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="row">
                        <div class="col s12">
                            <h3 class="comment__title">Leave comment</h3>
                        </div>
                    </div>
                    <form action="" method="post">
                        <div class="row">
                            <div class="col l4 m4 s12">
                                <div class="input-field search">
                                    <input placeholder="Name" id="name" type="text" class="validate search__input">
                                    <label for="name">Name</label>
                                </div>
                            </div>
                            <div class="col l4 m4 s12">
                                <div class="input-field search">
                                    <input placeholder="Email" id="email" type="text" class="validate search__input">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col l4 m4 s12">
                                <div class="input-field search">
                                    <input placeholder="Phone" id="phone" type="text" class="validate search__input">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field comment__textarea">
                                    <textarea id="textarea1" class="materialize-textarea" placeholder="Text"></textarea>
                                    <label for="textarea1" class="active">Textarea</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a href="#" class="btn-large btn--two comment__button">Post comment</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col l3">
                //= sections/sidebar.html
            </div>
        </div>
    </div>
</main>
