.advantages
    background-color: $p1
    padding-top: 50px
    padding-bottom: 80px
    background-image: url(../img/advantages/advantage1.png), url(../img/advantages/advantage2.png), url(../img/advantages/advantage3.png), url(../img/advantages/advantage4.png), url(../img/advantages/advantage5.png), url(../img/advantages/advantage6.png), url(../img/advantages/advantage7.png), url(../img/advantages/advantage8.png), url(../img/advantages/advantage9.png), url(../img/advantages/advantage10.png), url(../img/advantages/advantage11.png), url(../img/advantages/advantage12.png), url(../img/advantages/advantage13.png), url(../img/advantages/advantage14.png), url(../img/advantages/advantage15.png)
    background-repeat: no-repeat
    background-position: right 20% bottom 5%, right 35% bottom 5%, left 35% bottom 5%, left 15% bottom 5%, left 1% bottom 3%, left 10% bottom 35%, left 5% top 35%, left 1% top 3%, left 15% top 10%, left 30% top 5%, right 20% top 5%, right 5% top 25%, right 10% top 45%, right 5% bottom 35%, right 10% bottom 10%
    @media #{$maxDesktop}
        background-image: none
    &__title
        color: $white
        text-align: center
        padding-bottom: 60px
    .advantage
        text-align: center
        background-color: $white
        padding: 40px 45px
        height: 100%
        @media #{$maxDesktop}
            margin-bottom: 30px
            height: auto
        &__image
            +sizes(89px, 89px)
            &--experts
                background-image: url(../img/exp.svg)
                background-repeat: no-repeat
                display: inline-block
            &--commitment
                background-image: url(../img/comm.svg)
                background-repeat: no-repeat
                display: inline-block
            &--quality
                background-image: url(../img/comp.svg)
                background-repeat: no-repeat
                display: inline-block
        &__title
            padding-top: 30px
            padding-bottom: 20px
        &__description
            font-size: 1.4rem
    &__button
        width: 270px
        margin: 0 auto
        display: block
        margin-top: 50px
        @media #{$maxMobile}
            margin-top: 30px
