.discounts
    position: relative
    &-top
        position: relative
        background-color: $p1
        padding-top: 50px
        padding-bottom: 350px
        overflow: hidden
        &::after
            content: ""
            position: absolute
            background-image: url(../img/clouds-bg.svg)
            top: 0
            left: 0
            background-repeat: repeat-x
            background-position: left bottom
            background-size: 50%
            width: 100%
            height: 100%
            opacity: .8
        &__cloud
            position: absolute
            &--d1
                right: -300px
                +sprite($s-cloud-d1)
                animation-name: cloudLeft
                animation-duration: 65s
                animation-iteration-count: infinite
                animation-timing-function: linear
            &--d2
                top: 20%
                right: -300px
                +sprite($s-cloud-d2)
                animation-name: cloudLeft
                animation-duration: 60s
                animation-delay: 1s
                animation-iteration-count: infinite
                animation-timing-function: linear
            &--d3
                top: 35%
                right: -300px
                +sprite($s-cloud-d3)
                animation-name: cloudLeft
                animation-duration: 65s
                animation-iteration-count: infinite
                animation-timing-function: linear
            &--d4
                top: 45%
                right: -300px
                +sprite($s-cloud-d4)
                animation-name: cloudLeft
                animation-duration: 75s
                animation-delay: 2s
                animation-iteration-count: infinite
                animation-timing-function: linear
        &__rocket
            position: absolute
            bottom: 0
            left: -300px
            background-image: url(../img/rocket.svg)
            background-repeat: no-repeat
            +sizes(226px, 117px)
            animation-name: rocket
            animation-duration: 15s
            animation-iteration-count: infinite
            animation-timing-function: linear
            transform: rotate(65deg)
            animation-delay: 2s
            @media #{$maxDesktop}
                display: none
        &__title
            text-align: center
            color: $white
            padding-bottom: 30px
            position: relative
        &__description
            font-size: 2rem
            font-weight: 500
            text-align: center
            color: $white
            position: relative
    &-bot
        position: absolute
        z-index: 3
        bottom: -200px
        width: 100%
        height: 100%
        @media screen and (max-width: 613px)
            bottom: -250px
        @media screen and (max-width: 413px)
            bottom: -300px
        @media screen and (max-width: 324px)
            bottom: -350px
        .col.l4
            margin-left: 0
        .left
            padding: 33px
            background-color: $white
            display: flex
            flex-wrap: wrap
            width: 100%
            margin-left: .75rem
            box-shadow: 0 0 10px rgba(000,000,000, .5)
            height: 100%
            @media #{$maxDesktop}
                margin-left: 0
            @media #{$maxMobile}
                padding: 0
            &__item
                display: inline-block
                width: 50%
                text-align: center
                padding: 35px
                box-sizing: border-box
                &--first
                    border-right: 1px solid $discountBorderColor
                    border-bottom: 1px solid $discountBorderColor
                &--second
                    border-bottom: 1px solid $discountBorderColor
                &--third
                    border-right: 1px solid $discountBorderColor
                &--last
            &__off
                color: $p2
                font-size: 3.5rem
                font-weight: 700
                line-height: 1.2
                text-transform: uppercase
                padding-bottom: 10px
            &__than
                font-size: 1.4rem
                color: $p4d1
            &__pages
                color: $p1d1
                font-size: 1.7rem
                font-weight: 600
        .right
            background-color: $p1
            width: 100%
            margin-right: .75rem
            padding: 15px
            position: relative
            box-shadow: 0 0 10px rgba(000,000,000, .5)
            height: 100%
            @media #{$maxDesktop}
                height: auto
                margin-right: 0
            @media screen and (max-width:700px)
                &::after
                    display: none
            &::after
                content: ""
                position: absolute
                bottom: 20px
                z-index: 1
                right: -35px
                background-image: url(../img/balloon.svg)
                background-repeat: no-repeat
                +sizes(110px, 157px)
            &__inside
                border: 2px dashed $p1d1
                height: 100%
                border-radius: 8px
                padding: 30px
                @media screen and (max-width:1275px)
                    padding-top: 10px
                    padding-bottom: 10px
            &__title
                font-size: 2.5rem
                font-weight: 600
                color: $white
                text-align: center
                text-transform: uppercase
                padding-bottom: 30px
                @media screen and (max-width:1275px)
                    font-size: 2rem
                    padding-bottom: 10px
                @media #{$maxDesktop}
                    padding-bottom: 30px
            &__get
                padding: 30px 50px
                border: 2px dashed $white
                border-radius: 8px
                color: $white
                font-size: 2.4rem
                font-weight: 500
                position: relative
                @media #{$maxDesktop}
                    text-align: center
                &::before
                    content: ""
                    position: absolute
                    top: -15px
                    z-index: 1
                    left: 0
                    background-image: url(../img/scissors.svg)
                    background-repeat: no-repeat
                    +sizes(38px, 29px)
                &::after
                    content: ""
                    position: absolute
                    top: -15px
                    z-index: 1
                    right: 0
                    background-image: url(../img/stars.svg)
                    background-repeat: no-repeat
                    +sizes(89px, 106px)

            &__off
                text-align: center
                font-size: 6.1rem
                font-weight: 700
                line-height: 1
                color: $discountColor
                text-transform: uppercase
                @media #{$maxDesktop}
                    padding-top: 10px
            &__order
                text-align: center
                font-weight: 500
                color: $white
                font-size: 1.4rem
            &__text
                font-style: italic
                color: $white
                font-size: 1.8rem
                text-align: center
                padding-top: 20px
                position: relative
                z-index: 2
