.hiw
    padding-top: 80px
    padding-bottom: 80px
    @media #{$maxDesktop}
        .order3
            order: 4
        .order4
            order: 3
    @media #{$maxMobile}
        .order3
            order: 3
        .order4
            order: 4
        padding-bottom: 50px
    &__title
        text-align: center
        padding-bottom: 60px
        @media #{$maxMobile}
            padding-bottom: 30px
    .step
        text-align: center
        padding-right: 45px
        padding-left: 45px
        height: 100%
        border-right: 1px solid $borderHIW
        position: relative
        margin-right: -.75rem!important
        margin-left: -.75rem!important
        &::after
            content: ""
            position: absolute
            right: -13px
            bottom: 45%
            background-color: $white
            +sizes(25px, 25px)
            transform: rotate(45deg)
            border-top: 1px solid $borderHIW
            border-right: 1px solid $borderHIW
        @media #{$maxDesktop}
            margin-bottom: 30px
            padding-bottom: 30px
            padding-top: 30px
        @media #{$maxMobile}

        &--first
            @media #{$maxMobile}
                border-right: 0
                border-bottom: 1px solid $borderHIW
                &::after
                    left: 47%
                    bottom: -14px
                    transform: rotate(135deg)
        &--second
            @media #{$maxDesktop}
                border-bottom: 1px solid $borderHIW
                border-right: 0
                &::after
                    left: 50%
                    bottom: -14px
                    transform: rotate(135deg)
            @media #{$maxMobile}
                border-right: 0
                border-bottom: 1px solid $borderHIW
                border-left: 0
                &::after
                    left: 47%
                    bottom: -14px
                    transform: rotate(135deg)
        &--third
            @media #{$maxDesktop}
                border-left: 1px solid $borderHIW
                border-right: 0
                &::after
                    left: -14px
                    transform: rotate(-135deg)
            @media #{$maxMobile}
                border-right: 0
                border-bottom: 1px solid $borderHIW
                border-left: 0
                &::after
                    left: 47%
                    bottom: -14px
                    transform: rotate(135deg)
        &--last
            border-right: 0
            &::after
                display: none
            @media #{$maxDesktop}
                border-top: 1px solid $borderHIW
            @media #{$maxMobile}
                border-right: 0
                border-left: 0
                border-top: 0
                margin-bottom: 0
                &::after
                    left: 47%
                    bottom: -14px
                    transform: rotate(135deg)
        &__title
            text-transform: uppercase
            padding-top: 35px
            padding-bottom: 20px
        &__description
            font-size: 1.3rem
