.testimonials
    padding-top: 200px
    text-align: center
    padding-bottom: 80px
    @media #{$maxDesktop}
        padding-top: 650px
    @media screen and (max-width:351px)
        padding-top: 750px
    &__title
        padding-bottom: 40px
    &__user
        +sprite($s-user)
        padding-bottom: 25px
    &__text
        color: $p4d1
        font-size: 1.4rem
        font-weight: 300
        line-height: 1.5
        padding-bottom: 30px
    &__name
        color: $p1d1
        font-size: 1.7rem
        font-weight: 600
        padding-bottom: 15px
    &__date
        font-weight: 300
        font-size: 1.3rem
        color: $p4l1
    .slider
        position: relative
        height: auto
        @media #{$maxDesktop}
            width: 90%
            margin: 0 auto
        .slick-arrow
            position: absolute
            top: 30%
            font-size: 10rem
            color: $p1
            cursor: pointer
            line-height: 1
            @media #{$maxDesktop}
                font-size: 6rem
        .slick-next
            right: -35%
            @media #{$maxDesktop}
                right: -5%
        .slick-prev
            left: -35%
            @media #{$maxDesktop}
                left: -5%
        &__item
            outline: none
            padding-right: 5px
            padding-left: 5px
