.welcome
    padding-top: 80px
    padding-bottom: 90px
    @media screen and (max-width:865px)
        padding-top: 180px
    @media #{$maxDesktop}
        padding-bottom: 50px
    @media #{$maxMobile}
        padding-top: 30px
    &__image
        // background-image: url(../img/welcome.svg)
        background-position: bottom center
        background-color: $p1l2
        width: calc(100% - 100px)
        margin: 0 auto
        background-repeat: no-repeat
        position: relative
        padding-top: 100px
        text-align: center
        &--svg
            width: 50%
            height: auto
            position: relative
            bottom: -4px
        @media #{$maxDesktop}
            display: none
    &__title
        padding-bottom: 40px
        @media #{$maxDesktop}
            text-align: center
