// animating clouds
@keyframes cloudLeft
    0%
        right: -300px
        opacity: 0
    30%
        opacity: 1
    50%
        opacity: .5
    80%
        opacity: .3
    100%
        right: calc(100% + 300px)
        opacity: 1
@keyframes rocket
    0%
        left: -300px
    100%
        transform: translateY(-1000px)
        left: 100%
@keyframes cloudRight
    0%
        left: -300px
        opacity: 0
    30%
        opacity: 1
    50%
        opacity: .5
    80%
        opacity: .3
    100%
        left: calc(100% + 300px)
        opacity: 1
