// sizes
=sizes($w, $h)
    width: $w
    height: $h
// transition
=transition($sec)
    transition: all $sec ease-in-out


$browser-context: 16
@function em($px, $context:$browser-context)
    @return ($px / $context) * 1em

// font
=font($font-size:1.4rem, $font-weight:400, $font-style:normal, $color:$p4d3)
    // font-size: em($font-size)
    font-size: $font-size
    color: $color
    font-weight: $font-weight
    font-style: $font-style

// sprites mixins
=sprite-width($sprite)
    width: nth($sprite, 5)

=sprite-height($sprite)
    height: nth($sprite, 6)

=sprite-position($sprite)
    $sprite-offset-x: nth($sprite, 3)
    $sprite-offset-y: nth($sprite, 4)
    background-position: $sprite-offset-x $sprite-offset-y

=sprite-image($sprite)
    $sprite-image: nth($sprite, 9)
    background-image: url($sprite-image)
    background-repeat: no-repeat

=sprite($sprite)
    display: inline-block
    +sprite-image($sprite)
    +sprite-position($sprite)
    +sprite-width($sprite)
    +sprite-height($sprite)

// media

$small: 600px
$medium: 600px
$large: 992px
$xlarge: 1200px


=media($media)
    @if $media == small
        @media only screen and (max-width: $small)
            @content

    @else if $media == mobile
        @media only screen and (max-width: $mobile)
            @content

    @else if $media == tablet
        @media only screen and (max-width: $tablet)
            @content

    @else if $media == desktop
        @media only screen and (max-width: $desktop)
            @content
