*
    box-sizing: border-box
div
    box-sizing: border-box
// materialize style
.row
    margin-bottom: 0
@media screen and (min-width:600px)
    .container
        width: 90%

.tabs
    overflow: visible
    font-family: $f1
    font-size: 1.4rem
    .indicator
        background-color: $p2
        bottom: -2px
        z-index: 1
    .tab
        text-transform: none
        a
            color: $p4l1
            padding-left: 0
            padding-right: 0
            width: 130px
            @media screen and (max-width:699px)
                width: 120px
            &.active
                color: $p2

.pagination
    border-top: 1px solid $p1
    padding-top: 25px!important
    @media #{$maxMobile}
        text-align: center
    li
        height: auto
        margin-right: 10px
        border-radius: 50%
        @media #{$maxMobile}
            margin-right: 0
        &:first-child
            text-align: left
        &:last-child
            text-align: right
            margin-right: 0
        &.active
            background-color: $p1
        a
            +sizes(25px, 25px)
            padding: 0
            @media screen and (max-width:355px)
                +sizes(20px, 20px)
                font-size: 1rem
                line-height: 22px
            &:hover
                text-decoration: underline
.select-dropdown
    &.dropdown-content
        li
            &:hover:not(.disabled)
                background-color: $p1l3
.dropdown-content
    font-size: 1.3rem
    li
        height: 50px
        &>span
            color: $p1
            font-size: 1.3rem
            padding-left: 20px
            padding-right: 50px
            &:hover
                background-clip: $p1l3
// global style
html
    font-size: 62.5%
    font-family: $f1

ul
    margin: 0
    padding: 0
// number pages
.number-pages
    position: relative
    span
        position: absolute
        top: 0
        +sizes(50px, 100%)
        border: 1px solid $borderColorInput
        text-align: center
        padding-top: 17px
        display: block
        cursor: pointer
        &:hover
            background-color: $p1l2

    &--minus
        left: 0
        border-radius: 3px 0 0 3px
    &--plus
        right: 0
        border-radius: 0 3px 3px 0
    input[type=text]
        text-align: center

// typography
h1,h2,h3,h4,h5,h6
    margin: 0
    padding: 0

h1
    +font(3.5rem, 700)
h2
    +font(3.3rem, 500)
h3
    +font(2.7rem, 500)
h4
    +font(2.2rem, 500)
h5
    +font(1.7rem, 500)
h6
    +font(1.5rem, 500)
p
    +font(1.4rem, 400, normal, $p4d1)
    margin-top: 0


// quotation
.quotation
    font-size: 1.7rem
    color: $p1
    background-color: $p1l3
    padding: 20px 30px
    line-height: 1.5
    border-left: 2px solid $p1
// list styles
.list--location
    font-size: 1.4rem
    line-height: 2
    li
        &::before
            content: "\f124"
            font-family: $fontawesome
            margin-right: 10px
            color: $p1
.list--arrow
    font-size: 1.4rem
    line-height: 2
    li
        &::before
            content: "\f0a9"
            font-family: $fontawesome
            margin-right: 10px
            color: $p1
.list--checked
    font-size: 1.4rem
    line-height: 2
    li
        &::before
            content: "\f058"
            font-family: $fontawesome
            margin-right: 10px
            color: $p1
.list--checked2
    font-size: 1.4rem
    line-height: 2
    li
        &::before
            content: "\f046"
            font-family: $fontawesome
            margin-right: 10px
            color: $p2

// how it works icons
.step__image
    +sizes(62px, 62px)
    display: inline-block
    background-repeat: no-repeat
    text-align: center
    margin: 0 auto
    &--step1
        background-image: url(../img/step1.svg)
    &--step2
        background-image: url(../img/step2.svg)
        +sizes(49px, 62px)
    &--step3
        background-image: url(../img/step3.svg)
    &--step4
        background-image: url(../img/step4.svg)


// helper classes
.section-content
    padding-top: 50px
    padding-bottom: 50px
    @media #{$maxMobile}
        padding-top: 35px
        padding-bottom: 35px
.section-title
    padding-bottom: 35px
.section-pad
    padding-bottom: 25px
.subtitle
    font-size: 2rem
    font-weight: 500
    color: $p4d1
    @media #{$maxMobile}
        font-size: 1.6rem

.d-flex
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
.order1
    order: 1
.order2
    order: 2
.order3
    order: 3
.order4
    order: 4

.post
    &__info
        font-size: 1.3rem
        color: $p4l1
        cursor: default
        &::before
            content: "\f017"
            font-family: $fontawesome
        a
            color: $p4l1
            &:hover
                text-decoration: underline
