<section class="advantages">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="advantages__title">Advantages of Our Writing Services</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col l4 s12">
                <div class="advantage">
                    <i class="advantage__image advantage__image--experts"></i>
                    <h5 class="advantage__title">
                        Professionally-qualified writing experts
                    </h5>
                    <div class="advantage__description">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                    </div>
                </div>
            </div>
            <div class="col l4 s12">
                <div class="advantage">
                    <i class="advantage__image advantage__image--commitment"></i>
                    <h5 class="advantage__title">
                        Commitment to deliver papers by deadline
                    </h5>
                    <div class="advantage__description">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                    </div>
                </div>
            </div>
            <div class="col l4 s12">
                <div class="advantage">
                    <i class="advantage__image advantage__image--quality"></i>
                    <h5 class="advantage__title">
                        Top-quality, at a great price - guaranteed
                    </h5>
                    <div class="advantage__description">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="#" class="btn-large btn--one advantages__button">Place an order</a>
            </div>
        </div>
    </div>
</section>
