<section class="discounts">
    <div class="discounts-top">
        <div class="discounts-top__cloud discounts-top__cloud--d1"></div>
        <div class="discounts-top__cloud discounts-top__cloud--d2"></div>
        <div class="discounts-top__cloud discounts-top__cloud--d3"></div>
        <div class="discounts-top__cloud discounts-top__cloud--d4"></div>
        <div class="discounts-top__rocket"></div>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2 class="discounts-top__title">Our discount program</h2>
                </div>
            </div>
            <div class="row">
                <div class="col l8 offset-l2">
                    <div class="discounts-top__description">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates </div>
                </div>
            </div>
        </div>
    </div>
    <div class="discounts-bot">
        <div class="container">
            <div class="row d-flex">
                <div class="col l6 offset-l1 s12">
                    <div class="left">
                        <div class="left__item left__item--first">
                            <div class="left__off">
                                4%<br> off
                            </div>
                            <div class="left__than">
                                for more than
                            </div>
                            <div class="left__pages">
                                15 pages
                            </div>
                        </div>
                        <div class="left__item left__item--second">
                            <div class="left__off">
                                5%<br> off
                            </div>
                            <div class="left__than">
                                for more than
                            </div>
                            <div class="left__pages">
                                20 pages
                            </div>
                        </div>
                        <div class="left__item left__item--third">
                            <div class="left__off">
                                10%<br> off
                            </div>
                            <div class="left__than">
                                for more than
                            </div>
                            <div class="left__pages">
                                50 pages
                            </div>
                        </div>
                        <div class="left__item left__item--last">
                            <div class="left__off">
                                15%<br> off
                            </div>
                            <div class="left__than">
                                for more than
                            </div>
                            <div class="left__pages">
                                100 pages
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4 s12">
                    <div class="right">
                        <div class="right__inside">
                            <div class="right__title">Try our service & get huge discounts</div>
                            <div class="right__get">
                                get
                                <div class="right__off">
                                    15%<br>
                                    off
                                </div>
                                <div class="right__order">
                                    for your 1st order
                                </div>
                            </div>
                            <div class="right__text">
                                Use discount15 as discount code
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="qwe"></div>
