<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col l3 s12">
                    <a href="#" class="logo">
                            <img src="img/logo.png" alt="Logotype" class="logo__image">
                        </a>
                </div>
                <div class="col l9 m12">
                    <div class="nav">
                        <ul class="nav__list">
                            <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                            <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
                            <li class="nav__item"><a href="#" class="nav__link">Order now</a></li>
                            <li class="nav__item"><a href="#" class="nav__link">Disclaimer</a></li>
                            <li class="nav__item"><a href="#" class="nav__link">Why us</a></li>
                            <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
                            <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-mid">
            <div class="row">
                <div class="col l3 m6 s12">
                    <section class="section">
                        <div class="section__title">Section number1</div>
                        <ul class="section__list">
                            <li class="section__item"><a href="#" class="section__link">But I must explain to you how </a></li>
                            <li class="section__item"><a href="#" class="section__link">Mistaken idea of denouncing </a></li>
                            <li class="section__item"><a href="#" class="section__link">Praising pain was born</a></li>
                            <li class="section__item"><a href="#" class="section__link">Account of the system</a></li>
                            <li class="section__item"><a href="#" class="section__link">Great explorer of the truth</a></li>
                            <li class="section__item"><a href="#" class="section__link">No one rejects, dislikes</a></li>
                            <li class="section__item"><a href="#" class="section__link">Mistaken idea of denouncing </a></li>
                            <li class="section__item"><a href="#" class="section__link">Praising pain was born</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col l3 m6 s12">
                    <section class="section">
                        <div class="section__title">Section number1</div>
                        <ul class="section__list">
                            <li class="section__item"><a href="#" class="section__link">But I must explain to you how </a></li>
                            <li class="section__item"><a href="#" class="section__link">Mistaken idea of denouncing </a></li>
                            <li class="section__item"><a href="#" class="section__link">Praising pain was born</a></li>
                            <li class="section__item"><a href="#" class="section__link">Account of the system</a></li>
                            <li class="section__item"><a href="#" class="section__link">Great explorer of the truth</a></li>
                            <li class="section__item"><a href="#" class="section__link">No one rejects, dislikes</a></li>
                            <li class="section__item"><a href="#" class="section__link">Mistaken idea of denouncing </a></li>
                            <li class="section__item"><a href="#" class="section__link">Praising pain was born</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col l3 m6 s12">
                    <section class="section">
                        <div class="section__title">Section number1</div>
                        <ul class="section__list">
                            <li class="section__item"><a href="#" class="section__link">But I must explain to you how </a></li>
                            <li class="section__item"><a href="#" class="section__link">Mistaken idea of denouncing </a></li>
                            <li class="section__item"><a href="#" class="section__link">Praising pain was born</a></li>
                            <li class="section__item"><a href="#" class="section__link">Account of the system</a></li>
                            <li class="section__item"><a href="#" class="section__link">Great explorer of the truth</a></li>
                            <li class="section__item"><a href="#" class="section__link">No one rejects, dislikes</a></li>
                            <li class="section__item"><a href="#" class="section__link">Mistaken idea of denouncing </a></li>
                            <li class="section__item"><a href="#" class="section__link">Praising pain was born</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col l3 m6 s12">
                    <section class="section">
                        <div class="section__title">Section number1</div>
                        <ul class="section__list">
                            <li class="section__item"><a href="#" class="section__link">But I must explain to you how </a></li>
                            <li class="section__item"><a href="#" class="section__link">Mistaken idea of denouncing </a></li>
                            <li class="section__item"><a href="#" class="section__link">Praising pain was born</a></li>
                            <li class="section__item"><a href="#" class="section__link">Account of the system</a></li>
                            <li class="section__item"><a href="#" class="section__link">Great explorer of the truth</a></li>
                            <li class="section__item"><a href="#" class="section__link">No one rejects, dislikes</a></li>
                            <li class="section__item"><a href="#" class="section__link">Mistaken idea of denouncing </a></li>
                            <li class="section__item"><a href="#" class="section__link">Praising pain was born</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <div class="footer-bot">
            <div class="row">
                <div class="col l3 s12">
                    <div class="copyright">
                        Copyright В© 2017 BlueEssaySite.net <br>
                        All rights reserved.
                    </div>
                </div>
                <div class="col l3 s12">
                    <ul class="social">
                        <li class="social__item"><a href="#" class="social__link"><i class="fa fa-facebook"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link"><i class="fa fa-twitter"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link"><i class="fa fa-pinterest-p"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="col l3 m6 s12">
                    <div class="toll">
                        <i class="toll__image"></i>
                        <div class="toll__info">
                            Toll free
                            <a href="#" class="toll__link">+ 3 044 111 2732</a>
                        </div>
                    </div>
                </div>
                <div class="col l3 m6 s12">
                    <div class="email">
                        <i class="email__image"></i>
                        <div class="email__info">
                            Email
                            <a href="#" class="email__link">blueessaysite@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
