<header class="header">
//= navigation.html
    <div class="header-mid">
        <div class="header-mid__cloud header-mid__cloud--h1"></div>
        <div class="header-mid__cloud header-mid__cloud--h2"></div>
        <div class="header-mid__cloud header-mid__cloud--h3"></div>
        <div class="header-mid__cloud header-mid__cloud--d1"></div>
        <div class="header-mid__cloud header-mid__cloud--d2"></div>
        <div class="header-mid__cloud header-mid__cloud--d3"></div>
        <div class="header-mid__cloud header-mid__cloud--d4"></div>
        <div class="container">
            <div class="row">
                <div class="col l8 m12 s12">
                    <div class="description">
                        <div class="description__title">
                            <span class="description__title--color">BlueEssaySite.net -</span> <br> expert help for custom Written
                        </div>
                        <div class="description__text">
                            On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                        </div>
                        <a href="#" class="btn-large btn--two description__button">Place an order</a>
                    </div>
                </div>
                <div class="col l4">
                    <div class="girl"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bot">
        <div class="container">
            <div class="row">
                <div class="col l12 m12">
                    <div class="header-panel">
                        <div class="header-panel__input input-field">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label class="header-panel__label">Materialize Select</label>
                        </div>
                        <div class="header-panel__input input-field">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label class="header-panel__label">Materialize Select</label>
                        </div>
                        <div class="header-panel__input input-field">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label class="header-panel__label">Materialize Select</label>
                        </div>
                        <div class="header-panel__input input-field number-pages">
                            <span class="number-pages--minus"><i class="fa fa-minus"></i></span>
                            <input value="1" id="first_name" type="text" class="validate numberOnly" maxlength="3" pattern="\d [0-9]">
                            <span class="number-pages--plus"><i class="fa fa-plus"></i></span>
                            <label for="first_name" class="header-panel__label">First Name</label>
                        </div>
                        <a href="" class="btn header-panel__button btn--one">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
