<header class="header">
//= navigation.html
    <div class="header-footer">
        <div class="header-footer__cloud"></div>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="page-title">
                        Title page
                    </div>
                </div>
                <div class="col s12">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Home</a></li>
                        <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Pages</a></li>
                        <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link breadcrumbs__link--active">Page</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
