<section class="hiw">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="hiw__title">Our Simple 4-Step Procedure</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col l3 m6 s12 order1">
                <div class="step step--first">
                    <i class="step__image step__image--step1"></i>
                    <h5 class="step__title">Step 1</h5>
                    <div class="step__description">
                        Complete the short order form to buy a paper from our easy essay writing service.
                    </div>
                </div>
            </div>
            <div class="col l3 m6 s12 order2">
                <div class="step step--second">
                    <i class="step__image step__image--step2"></i>
                    <h5 class="step__title">Step 2</h5>
                    <div class="step__description">
                        We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.
                    </div>
                </div>
            </div>
            <div class="col l3 m6 s12 order3">
                <div class="step step--third">
                    <i class="step__image step__image--step3"></i>
                    <h5 class="step__title">Step 3</h5>
                    <div class="step__description">
                        Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard
                    </div>
                </div>
            </div>
            <div class="col l3 m6 s12 order4">
                <div class="step step--last">
                    <i class="step__image step__image--step4"></i>
                    <h5 class="step__title">Step 4</h5>
                    <div class="step__description">
                        The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
