<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col l3 m3 s9">
                <a href="#" class="logo">
                    <img src="img/logo.png" alt="Logotype" class="logo__image">
                </a>
            </div>
            <div class="col l9 m9 s3">
                <div class="nav">
                    <ul class="nav__second">
                        <li class="nav__item button-dropdown"><a href="javascript:void(0)" class="nav__link nav__link--services dropdown-toggle">Services</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="nav__link">Services item1</a></li>
                                <li><a href="#" class="nav__link">Services item2</a></li>
                            </ul>
                        </li>
                        <li class="nav__item button-dropdown"><a href="javascript:void(0)" class="nav__link nav__link--about dropdown-toggle">About us</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="nav__link">Services item1</a></li>
                                <li><a href="#" class="nav__link">Services item2</a></li>
                            </ul>
                        </li>
                        <li class="nav__item"><a href="#" class="nav__link nav__link--hiw">How it works</a></li>
                    </ul>
                    <a href="#" class="nav__phone"><i class="fa fa-phone"></i></a>
                    <a href="#" class="btn nav__button btn--one">sign in</a>
                    <a href="#" class="btn nav__button btn--two">order</a>
                    <div class="nav__burger" data-activates="slide-out">
                        <span class="nav__line nav__line--top"></span>
                        <span class="nav__line nav__line--mid"></span>
                        <span class="nav__line nav__line--bot"></span>
                    </div>
                    <ul id="slide-out" class="side-nav">
                        <li class="side-nav__item"><a href="index.html" class="side-nav__link">Home</a></li>
                        <li class="side-nav__item"><a href="how-it-works.html" class="side-nav__link">How it works</a></li>
                        <li class="side-nav__item"><a href="single.html" class="side-nav__link">Single</a></li>
                        <li class="side-nav__item"><a href="faq.html" class="side-nav__link">Faq</a></li>
                        <li class="side-nav__item"><a href="text.html" class="side-nav__link">Text</a></li>
                        <li class="side-nav__item"><a href="404.html" class="side-nav__link">404</a></li>
                        <li class="side-nav__item"><a href="#" class="side-nav__link">About us</a></li>
                        <li class="side-nav__item"><a href="#" class="side-nav__link">Order now</a></li>
                        <li class="side-nav__item"><a href="#" class="side-nav__link">Disclaimer</a></li>
                        <li class="side-nav__item"><a href="#" class="side-nav__link">Why us</a></li>
                        <li class="side-nav__item"><a href="#" class="side-nav__link">Contacts</a></li>
                        <li class="side-nav__item"><a href="blog.html" class="side-nav__link">Blog</a></li>
                        <a href="#" class="btn side-nav__button btn--one">sign in</a>
                        <a href="#" class="btn side-nav__button btn--two">order</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
