<aside class="sidebar">
    <form action="">
        <div class="input-field search">
            <input placeholder="search" id="search" type="text" class="validate search__input">
        </div>
    </form>
    <div class="categories">
        <h6 class="categories__title sidebar--title">Categories</h6>
        <ul class="collapsible categories__list" data-collapsible="accordion">
            <li class="categories__item">
                <div class="collapsible-header">essay blog</div>
                <div class="collapsible-body">
                    <ul class="categories__drop">
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                    </ul>
                </div>
            </li>
            <li class="categories__item">
                <div class="collapsible-header">business</div>
                <div class="collapsible-body">
                    <ul class="categories__drop">
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                    </ul>
                </div>
            </li>
            <li class="categories__item">
                <div class="collapsible-header">design / branding</div>
                <div class="collapsible-body">
                    <ul class="categories__drop">
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                    </ul>
                </div>
            </li>
            <li class="categories__item">
                <div class="collapsible-header">uncategorized</div>
                <div class="collapsible-body">
                    <ul class="categories__drop">
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="archive">
        <h6 class="archive__title sidebar--title">Archive</h6>
        <ul class="archive__list">
            <li class="archive__item"><a href="#" class="archive__link">Jun 2016</a></li>
            <li class="archive__item"><a href="#" class="archive__link">May 2016</a></li>
            <li class="archive__item"><a href="#" class="archive__link">Apr 2016</a></li>
            <li class="archive__item"><a href="#" class="archive__link">Mar 2016</a></li>
        </ul>
    </div>
    <div class="posts">
        <h6 class="posts__title sidebar--title">Latest blogs</h6>
        <div class="posts__item">
            <a href="#"><img src="img/blog/small1.png" alt="" class="posts__image"></a>
            <div class="posts__name">
                <a href="#" class="posts__name--link">Standard gallery post</a>
            </div>
            <div class="post__info">
                <a href="#"class="post__info--month">February</a> <a href="#"class="post__info--day">3</a>, <a href="#"class="post__info--year">2015</a> in <a href="#"class="post__info--tag">Personal life</a>
            </div>
        </div>
        <div class="posts__item">
            <a href="#"><img src="img/blog/small2.png" alt="" class="posts__image"></a>
            <div class="posts__name">
                <a href="#" class="posts__name--link">Standard gallery post</a>
            </div>
            <div class="post__info">
                <a href="#"class="post__info--month">February</a> <a href="#"class="post__info--day">3</a>, <a href="#"class="post__info--year">2015</a> in <a href="#"class="post__info--tag">Personal life</a>
            </div>
        </div>
        <div class="posts__item">
            <a href="#"><img src="img/blog/small3.png" alt="" class="posts__image"></a>
            <div class="posts__name">
                <a href="#" class="posts__name--link">Standard gallery post</a>
            </div>
            <div class="post__info">
                <a href="#"class="post__info--month">February</a> <a href="#"class="post__info--day">3</a>, <a href="#"class="post__info--year">2015</a> in <a href="#"class="post__info--tag">Personal life</a>
            </div>
        </div>
    </div>
    <div class="accept">
        <h6 class="accept__title sidebar--title">We accept</h6>
        <ul class="accept__list">
            <li class="accept__item"><i class="accept__icon accept__icon--paypal"></i></li>
            <li class="accept__item"><i class="accept__icon accept__icon--mastercard"></i></li>
            <li class="accept__item"><i class="accept__icon accept__icon--ucb"></i></li>
            <li class="accept__item"><i class="accept__icon accept__icon--visa"></i></li>
            <li class="accept__item"><i class="accept__icon accept__icon--2cc"></i></li>
            <li class="accept__item"><i class="accept__icon accept__icon--discover"></i></li>
            <li class="accept__item"><i class="accept__icon accept__icon--diners"></i></li>
            <li class="accept__item"><i class="accept__icon accept__icon--express"></i></li>
            <li class="accept__item"><i class="accept__icon accept__icon--skrill"></i></li>
        </ul>
    </div>
    <div class="limited">
        <div class="limited__inside">
            <div class="limited__time">Limited time offer</div>
            <div class="limited__off">15<sup>%</sup>off</div>
            <div class="limited__order">your first order</div>
        </div>
    </div>
    <div class="adv">
        <h6 class="adv__title sidebar--title">We accept</h6>
        <ul class="adv__list list--location">
            <li class="adv__item">Custom Writing on Any Subject</li>
            <li class="adv__item">English-speaking Writers</li>
            <li class="adv__item">Only Original Papers</li>
            <li class="adv__item">Affordable Prices</li>
            <li class="adv__item">Complete Confidentiality</li>
            <li class="adv__item">BA, MA and PhD Writers</li>
            <li class="adv__item">Up-to-date Sources Only</li>
            <li class="adv__item">Any Citation Style</li>
        </ul>
        <a href="#" class="btn-large sidebar--button btn--one">Place an order</a>
    </div>
    <div class="features">
        <h6 class="features__title sidebar--title">Paper features</h6>
        <ul class="features__list list--arrow">
            <li class="features__item">You choose font face</li>
            <li class="features__item">12 point font size</li>
            <li class="features__item">Double-spaced pages</li>
            <li class="features__item">Over 300 words/page</li>
            <li class="features__item">Text aligned left</li>
            <li class="features__item">One-inch margins</li>
        </ul>
        <a href="#" class="btn-large sidebar--button btn--one">Place an order</a>
    </div>
    <div class="disc">
        <h6 class="disc__title sidebar--title">Discounts</h6>
        <div class="disc__item">
            <div class="disc__image disc__image--orange">
                15%<br>
                off
            </div>
            <div class="disc__info">
                for the <br>
                <span class="disc__info--order">1st order</span>
            </div>
        </div>
        <div class="disc__item">
            <div class="disc__image disc__image--blue">
                5%<br>
                off
            </div>
            <div class="disc__info">
                for more than <br>
                <span class="disc__info--order">20 pages</span>
            </div>
        </div>
        <div class="disc__item">
            <div class="disc__image disc__image--blue">
                10%<br>
                off
            </div>
            <div class="disc__info">
                for more than <br>
                <span class="disc__info--order">50 pages</span>
            </div>
        </div>
        <div class="disc__item">
            <div class="disc__image disc__image--blue">
                15%<br>
                off
            </div>
            <div class="disc__info">
                for more than <br>
                <span class="disc__info--order">100 pages</span>
            </div>
        </div>
    </div>
</aside>
