<section class="testimonials">
    <div class="container">
        <div class="row">
            <h2 class="testimonials__title">What our clients says</h2>
        </div>
        <div class="row">
            <div class="col l6 offset-l3 s12">
                <div class="slider slick-slider">
                    <div class="slider__item">
                        <i class="testimonials__user"></i>
                        <div class="testimonials__text">
                            Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.
                        </div>
                        <div class="testimonials__name">
                            Lorna Grey
                        </div>
                        <div class="testimonials__date">
                            20 apr 2016 at 8:23
                        </div>
                    </div>
                    <div class="slider__item">
                        <i class="testimonials__user"></i>
                        <div class="testimonials__text">
                            Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.
                        </div>
                        <div class="testimonials__name">
                            Lorna Grey
                        </div>
                        <div class="testimonials__date">
                            20 apr 2016 at 8:23
                        </div>
                    </div>
                    <div class="slider__item">
                        <i class="testimonials__user"></i>
                        <div class="testimonials__text">
                            Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.
                        </div>
                        <div class="testimonials__name">
                            Lorna Grey
                        </div>
                        <div class="testimonials__date">
                            20 apr 2016 at 8:23
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
