<section class="welcome">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div class="welcome__image">
                    <img class="welcome__image--svg" src="img/welcome.svg" alt="">
                </div>
            </div>
            <div class="col l6 s12">
                <div class="welcome__description">
                    <h1 class="welcome__title">Do you need essay help from a good writing service?</h1>
                    <div class="welcome__text">
                        <p>If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service.</p>
                        <p>Our essay and research paper writing services are provided by a large team of editing, writing and research specialists who can help you with all types of coursework, whether you have essays, term papers, research papers, theses or dissertations to complete. Our essay writers are able to help you with all subject matters for all education levels, no matter if you are a high school student or studying for a PhD or Master's degree.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
